$electric-black: #0B0C10;
$electric-dark-grey: #1F2833;
$electric-light-grey: #C5C6C7;
$electric-light-blue: #66FCF1;
$electric-dark-blue: #45A29E;

$rwb-red: #B23850;
$rwb-blue: #3B8BEB;
$rwb-tan: #E7E3D4;
$rwb-light-grey: #C4DBF6;
$rwb-dark-grey: #8590AA;