<div class="carousel-container" (mouseenter)="onHover()" (mouseleave)="onMouseOut()">
  <div class="slide-container" [ngStyle]="{'width': slides.length * 100 + '%', 'transform': 'translate3d(-' + currentSlide * 100 / slides.length + '%, 0, 0)' }">
    <app-slide *ngFor="let slide of slides" [imageURL]="slide.imageURL" [routerLink]="slide.routerLink" [preText]="slide.preText" [mainText]="slide.mainText" [subText]="slide.subText" [numSlides]="slides.length"></app-slide>
  </div>
  <div class="left-arrow"><i class="fa fa-chevron-left" aria-hidden="true" (click)="navigateToPreviousSlide()"></i></div>
  <div class="right-arrow"><i class="fa fa-chevron-right" aria-hidden="true" (click)="navigateToNextSlide()"></i></div>
  <div class="pagination">
    <ul class="dots">
      <li class="dot" *ngFor="let slide of slides; let i = index" (click)="navigateToSlide(i)"></li>
    </ul>
  </div>
</div>