@import '../../../app/styles/variables';
ul {
    width: 50%;
    float: left;
    padding-bottom: 15px;
    .active {
        border-bottom: 1px solid $electric-light-blue;
    }
    img {
        opacity: 0.5;
    }
}