<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" routerLink="/">
      <img src="./favicon.ico" alt="">
    </a>
  </li>
</ul>
<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link"  routerLinkActive="active" routerLink="/journal">Journal</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  routerLinkActive="active" routerLink="/recipes">Recipes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  routerLinkActive="active" routerLink="/developer-playground">Dev Playground</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  routerLinkActive="active" routerLink="/about">About</a>
  </li>
</ul>